In [1]:
import numpy as np

## 1. DataTypes and Attributes

In [3]:
#Numpy's main data type is ndarray
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [8]:
a2 = np.array([[1, 2, 3.3],
       [4, 5, 6.5]])
a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10, 11, 12],
              [13, 14, 15],
              [16, 17, 18]]])

In [9]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [10]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [11]:
a1.shape

(3,)

In [12]:
a2.shape

(2, 3)

In [13]:
a3.shape

(2, 3, 3)

In [25]:
a4 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10, 11, 12],
              [13, 14, 15],
              [16, 17, 18]],
              [[19, 20, 21],
              [22, 23, 24],
              [25,26, 27]],
              [[28, 29, 30],
              [31, 32, 33],
              [34, 35, 36]]])
a4

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[28, 29, 30],
        [31, 32, 33],
        [34, 35, 36]]])

In [19]:
a4.shape

(4, 3, 3)

In [20]:
a1.ndim

1

In [21]:
a4.ndim

3

In [22]:
a2.ndim

2

In [23]:
a2.dtype

dtype('float64')

In [24]:
a1.size, a2.size, a3.size, a4.size #how many elements

(3, 6, 18, 36)

In [26]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [28]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## 2. Creating arrays

In [31]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [32]:
sample_array.dtype

dtype('int32')

In [34]:
ones = np.ones((2,3,3), dtype = int)
ones

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]])

In [35]:
type(ones)

numpy.ndarray

In [36]:
zeros = np.zeros((2,3,3), dtype = int)
zeros

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]])

In [37]:
range_array = np.arange(0, 9, 1)
range_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [38]:
random_array = np.random.randint(0, 10, size = (2,3,3))
random_array

array([[[2, 6, 9],
        [5, 7, 7],
        [8, 1, 7]],

       [[3, 9, 1],
        [5, 0, 9],
        [8, 9, 6]]])

In [39]:
random_array.size

18

In [40]:
random_array.shape

(2, 3, 3)

In [42]:
random_array2 = np.random.random((4,4))
random_array2

array([[0.38189007, 0.93703921, 0.58955588, 0.841879  ],
       [0.32738737, 0.18248248, 0.28440309, 0.1536005 ],
       [0.12064782, 0.6422334 , 0.26556409, 0.74669784],
       [0.83707451, 0.9663751 , 0.10303935, 0.74201503]])

In [43]:
random_array2.shape

(4, 4)

In [44]:
random_array3 = np.random.rand(4, 2, 4)
random_array3

array([[[0.49748918, 0.66386568, 0.0787941 , 0.16057974],
        [0.64778544, 0.17896005, 0.31793161, 0.00818579]],

       [[0.80328616, 0.62579107, 0.94338633, 0.37374685],
        [0.98714358, 0.16008912, 0.13040002, 0.87917809]],

       [[0.71488919, 0.24322849, 0.6396107 , 0.16865075],
        [0.74408564, 0.95817158, 0.11020716, 0.2372439 ]],

       [[0.18533609, 0.39209353, 0.82157061, 0.92675924],
        [0.98082637, 0.14910458, 0.61225293, 0.61757749]]])

In [53]:
#Pseudo-random numbers
np.random.seed(seed = 4)
random_array4 = np.random.randint(10, size=(3,3,3))
random_array4

array([[[7, 5, 1],
        [8, 7, 8],
        [2, 9, 7]],

       [[7, 7, 9],
        [8, 4, 2],
        [6, 4, 3]],

       [[0, 7, 5],
        [5, 9, 6],
        [6, 8, 2]]])

In [64]:
np.random.seed(7)
random_array5 = np.random.random((5,3))
random_array5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [67]:
# When we dont set our seed it sets a random seed else it sets the seed given everytime.
random_array5 = np.random.random((5,3))
random_array5

array([[0.71932412, 0.41299183, 0.90642327],
       [0.18045162, 0.74111887, 0.42237404],
       [0.42645357, 0.63437987, 0.5229062 ],
       [0.41488598, 0.00142688, 0.09226235],
       [0.70939439, 0.5243456 , 0.69616046]])